
.right-side-about{
    text-align: right;
    margin-top: -710px;
    
}
.right-side-about img{
    height: 710px;
    width: 600px;
    
}

.left-side-about {
    text-align: left;
    background-color: #f2f0ed;
    width: 663px;
    height: 790px;
    margin-top: 0.5px;
    text-align: center;
    
}

.left-side-about h1{
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    font-size: 40px;
    text-align: left;
    margin-top: 190px;
    margin-left: -15px;
}

.left-side-about p{
    text-align: center;
    margin-left: 120px;
    width: 400px;
}