#background{
    background-color: #f2f0ed;
    height: 687px;
    width: 100%;
}

.logo-contactus img{
    height: 600px;
    width: 550px;
    float: right;
    margin-top: 84px;
}

.logo-contactus h1{
    float: left;
    color: black;
    margin-top: 100px;
    font-family: 'Dancing Script', cursive;
    margin-left: 50px;
}

.contact-form{
    width: 600px;
}

input[type=text],input[type=number], #contact-textarea, select{
    width:100%;
    padding: 17px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 50px;
    
}

input[type = submit]{
    width: 20%;
    color: black;
    padding: 10px 10px;
    margin: 8px 0px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    transition-duration: 0.5s;
    margin-left: 50px;

}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

