@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


#background{
    background-color: #f2f0ed;
}
.garden-content{
    margin-left: 230px;

}
.garden-heading img{
    margin-top: 140px;
    margin-left: 330px;
}

.garden-headings{
    font-family: 'Dancing Script', cursive;
    margin-top: 100px;
    
}

.garden-first-part-content p{
    margin-top: 40px;
    margin-right: 600px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
   
}

.garden-first-part-content img{
    float: right;
    margin-top: -260px;
    margin-right:240px ;
}

.garden-second-part{
    margin-top: 350px;
}

#quote{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #059862;
    margin-left: 150px;
    margin-right: 350px;
    margin-top: 60px;
}

.garden-second-part span{
    float: right;
    margin-right: 300px;
}

.garden-second-part p{
    margin-top: 100px;
    margin-right: 220px;
}

.garden-name{
    color: yellowgreen;
    margin-top: 100px;
    font-family: 'Dancing Script', cursive;
}

.AROMATICS-garden img{
    margin-top: -200px;
    height: 350px;
    width: 350px;
}

.AROMATICS-garden p{
    margin-left: 380px;
}

#garden-logo{
    height: 130px;
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 400px;
}

#rosmarino{
    margin-top: -300px;
}

#castillon{
    margin-top: -170px;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Number text (1/10 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#r2{
  margin-top: -29px;
}

#r3{
  margin-top: -30px;
}
